/* You can add global styles to this file, and also import other style files */

.flex-column {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
}

.flex-row {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
}

.align-center-center {
  place-content: center;
  align-items: center;
}

.align-space-between-center {
  place-content: center space-between;
  align-items: center;
}
