<main #sidenavContent>
  <h2>Lorem, ipsum dolor.</h2>
  <h2>Lorem, ipsum dolor.</h2>
  <button (click)="scrollUp()">scroll up</button>
  <button (click)="scrollDown()">scroll down</button>
  <h2>Lorem, ipsum dolor.</h2>
  <h2>Lorem, ipsum dolor.</h2>
  <h2>Lorem, ipsum dolor.</h2>
  <h2>Lorem, ipsum dolor.</h2>
  <h2>Lorem, ipsum dolor.</h2>
  <h2>Lorem, ipsum dolor.</h2>
  <h2>Lorem, ipsum dolor.</h2>
  <h2>Lorem, ipsum dolor.</h2>
  <h2>Lorem, ipsum dolor.</h2>
  <h2>Lorem, ipsum dolor.</h2>
  <h2>Lorem, ipsum dolor.</h2>
</main>
