<app-side-nav></app-side-nav>

<main>
  <div class="sticky-buttons">
    <button (click)="scrollUp()">scroll up</button>
    <button (click)="scrollDown()">scroll down</button>
  </div>

  <h1>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur porro
    esse non voluptas atque. Repellat libero, a in doloribus quasi veniam sint
    natus animi deserunt voluptatem sed cumque perspiciatis ut dolores maxime
    nihil fugiat quibusdam earum asperiores sapiente quidem, laudantium
    cupiditate! Totam, optio natus tempore accusamus accusantium autem soluta
    amet error laborum, illum recusandae porro ab molestiae, ad officiis velit.
    Exercitationem, eaque velit consequuntur ad dolor iure quis minima sapiente
    autem alias saepe enim dolores adipisci unde voluptatibus! Nam iusto
    accusantium in maiores sit labore pariatur laudantium, assumenda libero et
    tempora. Fugiat nesciunt enim corrupti sed sunt pariatur eaque maxime!
  </h1>

  <h1>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur porro
    esse non voluptas atque. Repellat libero, a in doloribus quasi veniam sint
    natus animi deserunt voluptatem sed cumque perspiciatis ut dolores maxime
    nihil fugiat quibusdam earum asperiores sapiente quidem, laudantium
    cupiditate! Totam, optio natus tempore accusamus accusantium autem soluta
    amet error laborum, illum recusandae porro ab molestiae, ad officiis velit.
    Exercitationem, eaque velit consequuntur ad dolor iure quis minima sapiente
    autem alias saepe enim dolores adipisci unde voluptatibus! Nam iusto
    accusantium in maiores sit labore pariatur laudantium, assumenda libero et
    tempora. Fugiat nesciunt enim corrupti sed sunt pariatur eaque maxime!
  </h1>
  <h1>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur porro
    esse non voluptas atque. Repellat libero, a in doloribus quasi veniam sint
    natus animi deserunt voluptatem sed cumque perspiciatis ut dolores maxime
    nihil fugiat quibusdam earum asperiores sapiente quidem, laudantium
    cupiditate! Totam, optio natus tempore accusamus accusantium autem soluta
    amet error laborum, illum recusandae porro ab molestiae, ad officiis velit.
    Exercitationem, eaque velit consequuntur ad dolor iure quis minima sapiente
    autem alias saepe enim dolores adipisci unde voluptatibus! Nam iusto
    accusantium in maiores sit labore pariatur laudantium, assumenda libero et
    tempora. Fugiat nesciunt enim corrupti sed sunt pariatur eaque maxime!
  </h1>
  <h1>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur porro
    esse non voluptas atque. Repellat libero, a in doloribus quasi veniam sint
    natus animi deserunt voluptatem sed cumque perspiciatis ut dolores maxime
    nihil fugiat quibusdam earum asperiores sapiente quidem, laudantium
    cupiditate! Totam, optio natus tempore accusamus accusantium autem soluta
    amet error laborum, illum recusandae porro ab molestiae, ad officiis velit.
    Exercitationem, eaque velit consequuntur ad dolor iure quis minima sapiente
    autem alias saepe enim dolores adipisci unde voluptatibus! Nam iusto
    accusantium in maiores sit labore pariatur laudantium, assumenda libero et
    tempora. Fugiat nesciunt enim corrupti sed sunt pariatur eaque maxime!
  </h1>
  <h1>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur porro
    esse non voluptas atque. Repellat libero, a in doloribus quasi veniam sint
    natus animi deserunt voluptatem sed cumque perspiciatis ut dolores maxime
    nihil fugiat quibusdam earum asperiores sapiente quidem, laudantium
    cupiditate! Totam, optio natus tempore accusamus accusantium autem soluta
    amet error laborum, illum recusandae porro ab molestiae, ad officiis velit.
    Exercitationem, eaque velit consequuntur ad dolor iure quis minima sapiente
    autem alias saepe enim dolores adipisci unde voluptatibus! Nam iusto
    accusantium in maiores sit labore pariatur laudantium, assumenda libero et
    tempora. Fugiat nesciunt enim corrupti sed sunt pariatur eaque maxime!
  </h1>
</main>
